<mat-toolbar color="primary" class="container_header_main">
  <div class="container_header">
    <div class="info_company">
      <mat-icon>shopping_cart_checkout</mat-icon>

      <span class='title_company'>TOC Estoque</span>
    </div>

    <div class="container_user">
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon class="icon_menu">menu</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button *ngIf="false" mat-menu-item disabled>
          <mat-icon>verified_user</mat-icon>

          <span>MATHEUS GARCIA</span>
        </button>

        <button mat-menu-item>
          <mat-icon>logout</mat-icon>

          <span>Sair</span>
        </button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>

<app-stock class="container_stocks"></app-stock>
<router-outlet></router-outlet>