.container_list_stock {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 70%;
  margin: 0 auto;
  height: calc(100% - 60px);
  padding: 0 .8rem;
  padding-top: .5rem;

  &.space_between {
    display: flex;
    justify-content: space-between;
  }

  .container_empty {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}